.Position {
    font-size : 12pt;
    margin-left: 15px;
    margin-top: 0px;
}

.Company {
    font-size : 14pt;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.Dates {
    font-size : 14pt;
    margin-left: 15px;
    font-style: bold;
    margin-top: 0px;
}

.DescList {
    font-size : 12pt;
    margin-left: 0px;
    margin-top: 5px;
}

.Item {
    left: 40%;
    margin-left: -25%;
    width: 50%;
    height : 200px;
    margin-bottom: 2em;
    position: relative;
    top: 5em;
}

.LeftSide {
    width: 30%;
    float: left;
    position: relative;
    left: 14%;
    margin-top: 0px;
    text-align: right;
}

.RightSide {
    width: 50%;
    float: left;
    left: 25%;
    margin-top: 0px;
    position: relative;
    text-align: left;
}
