.Position {
    font-size : 12pt;
    margin-left: 15px;
    margin-top: 0px;
}

.Company {
    font-size : 25pt;
    margin-left: 15px;
    margin-bottom: 5px;
}

.Dates {
    font-size : 14pt;
    margin-left: 15px;
    font-style: bold;
}

.DescList {
    font-size : 14pt;
    margin-left: 15px;
}

.Item {
    left: 50%;
    margin-left: -25%;
    background-color: lightcyan;
    width: 50%;
    height : 400px;
    margin-bottom: 2em;
    position: relative;
    top: 5em;
}

.LeftSide {
    width: 30%;
    float: left;
    position: relative;
    left: 15%;
    background-color: firebrick;
    top: 50%;
    margin-top: -15%;
}

.RightSide {
    width: 30%;
    float: left;
    top: 50%;
    left: 40%;
    margin-top: -10%;
    position: relative;
    background-color: violet;
}