.Name {
    font-size: 25pt;
}

.Item {
    width : 35%;
    height : 50px;
    background-color: #88BDBC;
    float : left;
    margin-left : 12em;
    margin-top : 1em;
    text-align: center;
    
}
p {
    margin-top: 0px;
}