<div class="WorkExperience">
    <a name="experience"></a>
    <div class="SectionHead">
        <p>Work Experience</p>
    </div>
    <div class="Experience">
        <app-experience-item class="Item"
        listId="expList1" 
        Title="Engineering Support" 
        Company="ZF" 
        Dates="9/2019 - Present" 
        [Description]=jobDesc1
        ></app-experience-item>

        <app-experience-item class="Item" 
        listId="expList2" 
        Title="Software Engineering Intern" 
        Company="Quicken Loans" 
        Dates="5/2019 - 8/2019" 
        [Description]=jobDesc2
        ></app-experience-item>

    </div>
</div>