.Experience {
    height: 1800px;
    position: relative;
}

.WorkExperience {
    position: relative;
}

.Divider {
    height: 2px;
    width: 75%;
    background-color: lightgray;
    left: 50%;
    margin-left: -37.5%;
    position: absolute;
}

.TimeLine {
    width: 2px;
    height: 1000px;
    background-color: lightgray;
    position: absolute;
    left: 40%;
    margin-left: -1px;
    top: 150px;
}