<div class="WelcomeCard">
    <img class = "WelcomeImg" src="../assets/WelcomeImg.jpg">
    <div class="WelcomeNameBack"></div>
    <div class="WelcomeNameContainer">
        <p class="WelcomeName">Austin Johanningsmeier</p>
        <p class="WelcomeSecondary">Software Engineer</p>
    </div>
</div>

<div class="NavBar">
    <div class ="Button">
        <a href="#skills" >Skills</a>
    </div>
    <div class="Button">
        <a href="#experience"  >Experience</a>
    </div>
    <div class="Button">
        <a href="#edu" >Education</a>
    </div>
    <div class="Button">
        <a href="#projects" >Projects</a>
    </div>

</div>

<div class="Skills">
    <a name="skills"></a>
    <div  class="SectionHead">
        <p>Skills</p>
    </div>
</div>

<div class="WorkExperience">
    <a name="experience"></a>
    <div class="SectionHead">
        <p>Work Experience</p>
    </div>
</div>

<div class="Education">
    <a name="edu"></a>
    <div class="SectionHead">
        <p>Education</p>
    </div>
</div>

<div class="Projects">
    <a name="projects"></a>
    <div class="SectionHead">
        <p>Personal Projects</p>
    </div>
</div>