h1,h2, p{
    font-family: 'Oswald', sans-serif;
    font-variant: Light;
}

.WelcomeCard {
    position : absolute;
    width : 100%;
    left : 0px;
    top : 0px;
    background-color: #dfe4ec;
    height : 853px;
}

.WelcomeImg{
    position: absolute;
    left : 50%;
    margin-left: -637px;
}

.WelcomeName {
    font-size: 35pt;
    color: white;
}

.WelcomeSecondary {
    font-size: 30pt;
    color: white;

}

.WelcomeNameContainer {
    top : 390px;
    width: 100%;
    left: 0px;
    position : absolute;
    text-align: center;
}

.WelcomeNameBack {
    top : 420px;
    width: 100%;
    left: 0px;
    height: 202px;
    background-color : #A8D0E6;
    position : absolute;
    opacity: 85%;
}

.NavBar {
    width: 100%;
    position : sticky;
    position: -webkit-sticky;
    height: 75px;
    background-color: #254E58;
    top: 0px;
    margin-top: 853px;
}

.Button {
    width: 10%;
    height: 45px;
    float: left;
    background-color: #6E6658;
    margin : 1em;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-variant: Light;
    font-size: 20pt;
}

a:link, a:visited {
    color: white;
}

a:link, a:visited, a:hover {
    text-decoration: none;
}

a:hover {
    color:#A8D0E6;
}

.SectionHead {
    position: relative;
    left: 50%;
    font-size: 35pt;
    text-align: center;
    width : 20%;
    margin-left: -10%;
}